.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
!out/**/*.js
node_modules/**
*.vsix
build-extension.bat
ATUALIZACAO_RESUMO.md
README_ANTIGO.md
